{% extends 'home.html' %}

{% block head %}
<!-- <link href="/static/css/timePicker.css" rel="stylesheet"> -->
<link href="/static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>
<br/>
<div class="container">
	<div class="row">
		<div class="span2 col-md-3 col-md-offset-1">
			<ul class="nav nav-pills nav-stacked "> 
				<li><a href={% url 'accounts:setting' %}>Profile</a></li>
				<li><a href={% url 'accounts:settingSkill' %}>Skill</a></li> 
				<li class="active"><a href={% url 'accounts:settingExperience' %}>Experience</a></li> 
				<li><a href={% url 'accounts:settingContact' %}>Contact</a></li> 
			</ul>
		</div>
		<div class="col-md-7 ">
		      <table class="table table-hover">
				   <caption></caption>
				   <thead>
				      <tr>
				         <th>Job Title</th>
				         <th>Duration</th>
				         <th>Description</th>
				      </tr>
				   </thead>
				   <tbody>
				   {% for experience in user_experience_list %}
				      <tr>
				         <td>{{experience.job_title}}</td>
				         <td>{{experience.start_date}} - {{experience.end_date}}</td>
				         <td>{{experience.description}}</td>
				         <td style="text-align:center;">
				   			<a href="#">
  								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
						</td>
				      </tr>
				    {% endfor %}
				   </tbody>
				</table>

	<form class="form-horizontal" action="{% url 'accounts:settingExperience'%}" method="POST">
	{% csrf_token %}
	  <fieldset>
		<a class="btn " type="button" data-toggle="collapse" data-target="#addExperience" aria-expanded="false" aria-controls="addExperience">
		  Add Experience
		</a>
		<div class="collapse" id="addExperience">
 		 <div class="well">

    		<div class="control-group">
	      <!-- Text input-->
		      <label class="control-label" for="input01">Title</label>
		      <div class="controls">
		        <input type="text" name = "title" placeholder="placeholder" class="input-xlarge form-control">
		        <p class="help-block"> </p>
		      </div>
		    </div>

			<!--  <div class="control-group">
				   <label class="control-label">Duration</label>
				  <div class="controls">
				<div id='wrapper'>
 						 <select class='custom-date form-control' name='select'>
 					      <option value='7'>7 Days</option>
 					      <option value='30'>30 Days</option>
 					      <option selected='selected' value='90'>90 Days</option>
 					      <option value='180'>180 Days</option>
 					      <option value='365'>365 Days</option>
 					      <option value='custom'>Custom</option>
 					    </select>
 					</div>
		   		  <p class="help-block"></p>
				  </div>
				</div> -->
				<div class="control-group">
	                <label for="dtp_input2" class="control-label">Start Time</label>
	                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
	                    <input id="startTime" class="form-control" size="16" type="text" value="" >
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
	                </div>
					<p class="help-block"></p>
          	 	 </div>			

			<div class="control-group">
	                <label for="dtp_input2" class="control-label">End Time</label>
	                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
	                    <input id="endTime" class="form-control" size="16" type="text" value="" >
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
	                </div>
					<p class="help-block"></p>
          	 	 </div>			

			 <div class="control-group">
		      <!-- Textarea -->
		      <label class="control-label">Description</label>
		      <div class="controls">
		        <div class="textarea">
		              <textarea name = "description" type="" class="form-control"> </textarea>
		        </div>
		        <p class="help-block"></p>
		      </div>
		    </div>

		     <div class="control-group">
		          <label class="control-label"> </label>
		          <!-- Button -->
		          <div class="controls">
		            <button class="btn btn-success">+</button>
		          </div>
		          <p class="help-block"></p>
		     </div>
		 </div>
		</div>
		
	 </fieldset>
	 </form>


		</div>
	</div>
</div>

<br/><br/><br/>

{% endblock %}

{% block js %}
{% load static %}
<!-- <script src="{% static "js/timePicker.js" %}"></script> -->
<script src="{% static "bootstrap/js/bootstrap-datetimepicker.js" %}"></script>

<script type="text/javascript">
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
</script>
{% endblock %}