{% extends 'home.html' %}

{% block head %}
 <link href="/static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>
<br/>
<div class="container">
	<div class="row">
		<div class="span2 col-md-3 col-md-offset-1">
			<ul class="nav nav-pills nav-stacked"> 
				<li class="active"><a href={% url 'accounts:settingProfile' %}>Profile</a></li>
				<li><a href={% url 'accounts:settingSkill' %}>Skill</a></li> 
				<li><a href={% url 'accounts:settingExperience' %}>Experience</a></li> 
			</ul>
		</div>
		<div class="col-md-7 ">

			<form class="form-horizontal" action="{% url 'accounts:settingProfile' %}" method="POST">
			{% csrf_token %}
			    <fieldset>
			      <div id="legend" class="">
			        <legend class="">{{ user_session.account_name }}</legend>
			      </div>
			   <div class="well">
    			<div class="control-group">
		          <!-- Text input-->
		          <label class="control-label" for="input01">Name</label>
		          <div class="controls">
		            <input name = "username" type="text" placeholder="User Name" class="input-xlarge form-control " value="{{ contactinfo.contactinfo_name }}">
		            <p class="help-block"></p>
		          </div>
		        </div>

    			<div class="control-group">
       			   <label class="control-label">Gender</label>
         		  <div class="controls ">
					 <!-- Multiple Radios -->
					 {% if contactinfo.contactinfo_gender == 'Male' %}
	          		  <label class="radio">
	             		 <input type="radio" name = "gender" value="Option one" name="gender" checked="checked">Male
	            	  </label>
	           		  <label class="radio">
	              		<input type="radio" name = "gender" value="Option two" name="gender">Female
	           		  </label>
	           		  <p class="help-block"></p>
	           		 {% else %}
	           		 <label class="radio">
	             		 <input type="radio" name = "gender" value="Option one" name="gender" >Male
	            	  </label>
	           		  <label class="radio">
	              		<input type="radio" name = "gender" value="Option two" name="gender" checked="checked">Female
	           		  </label>
	           		  <p class="help-block"></p>
	           		 {% endif%}
          		  </div>
          		</div>

          		<div class="control-group">
	                <label for="dtp_input2" class="control-label">Birthday</label>
	                <div class="input-group date form_date" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">

	                    <input id="birthday" name = "birthdate" class="form-control" size="16" type="text" value="{{ contactinfo.contactinfo_birthdate}}" readonly>
	                    
	                    <span class="input-group-addon">
	                    	<span class="glyphicon glyphicon-remove"></span>
	                    </span>
	                     <span class="input-group-addon">
	            		    <span class="glyphicon glyphicon-calendar"></span>
	            		</span>
	                </div>
					<p class="help-block"></p>
          	 	 </div>			

				<div class="control-group">
		          <!-- Text input-->
		          <label class="control-label" for="input01">Cell Phone</label>
		          <div class="controls">
		            <input type="tel" name = "cellphone" placeholder="Cell phone" class="input-xlarge form-control" value="{{ contactinfo.contactinfo_cellphone }}">
		            <p class="help-block"></p>
		          </div>
		        </div>

				<div class="control-group">
		          <!-- Text input-->
		          <label class="control-label" for="input01">Address</label>
		          <div class="controls">
		            <input type="text" name="address" placeholder="Address" class="input-xlarge form-control" value="{{ contactinfo.contactinfo_address }}">
		            <p class="help-block"></p>
		        </div>
	
    			 <div class="control-group">
		          <!-- Textarea -->
		          <label class="control-label">Description</label>
		          <div class="controls">
		            <div class="textarea">
		            	<input type="text" name="description" placeholder="Description" class="input-xlarge form-control" value="{{ contactinfo.contactinfo_description }}">
		            </div>
		            <p class="help-block"></p>
		          </div>
		        </div>

			     <div class="control-group">
			          <label class="control-label"> </label>
			          <!-- Button -->
			          <div class="controls">
			            <button class="btn btn-success">Submit</button>
			          </div>
			          <p class="help-block"></p>
			     </div>
			 </div>
			 </fieldset>
			 </form>
		</div>
	</div>

</div>

{% endblock %}

{% block js %}
{% load static %}
<script src="{% static "bootstrap/js/bootstrap-datetimepicker.js" %}"></script>

<script type="text/javascript">
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
</script>
{% endblock %}