{% extends 'home.html' %}
{% block head %}
<link href="/static/bootstrap/css/bootstrap-slider.min.css" rel="stylesheet">
<style type='text/css'>
.slider-handle.custom {
background: transparent none;
}
</style>
{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>
<br/>
<div class="container">
	<div class="row">
		<div class="span2 col-md-3 col-md-offset-1">
			<ul class="nav nav-pills nav-stacked"> 
				<li><a href={% url 'accounts:settingProfile' %}>Profile</a></li>
				<li class="active"><a href={% url 'accounts:settingSkill' %}>Skill</a></li> 
				<li><a href={% url 'accounts:settingExperience' %}>Experience</a></li> 
			</ul>
		</div>
		<div class="col-md-7 ">
		      <table class="table table-hover ">
				   <caption></caption>
				   <thead >
				      <tr>
				         <th>Skill</th>
				         <th>Proficiency</th>
				         <th>Description</th>
				      </tr>
				   </thead>

				   <tbody>
				   {% for skill in user_skill_list %}
				   <tr>
				   		<td>{{ skill.skill_type }}</td>
						<td>{{ skill.skill_proficiency }}</td>
				   		<td>{{ skill.skill_description }}</td>
				   		<td style="text-align:center;">
				   			<a href={% url 'accounts:deleteSkill' skill.skill_type %}>
  								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
						</td>
				   </tr>
				   {% endfor %}
				   </tbody>
				</table>
		

		<form class="form-horizontal" action="{% url 'accounts:settingSkill' %}" method="POST">
		{% csrf_token %}
		  <fieldset>
			<a class="btn " type="button" data-toggle="collapse" data-target="#addExperience" aria-expanded="false" aria-controls="addExperience">
			  Add Skill
			</a>
			<div class="collapse" id="addExperience">
	 		 <div class="well">

	    		<div class="control-group">
		      <!-- Text input-->
			      <label class="control-label" for="input01">Skill</label>
			      <div class="controls">
			        <input type="text" id = "_skill_type" name = "skill_type" placeholder="skill type" class="input-xlarge form-control">
			        <p class="help-block"> </p>
			        <p class="help-block"> </p>
			      </div>
		 	    </div>
			   
			   <div class="control-group">
	 	      <!-- Text input-->
	 		      <label class="control-label" for="input01">Proficiency</label>
	 			  <div class="controls">
	 				<input id="proficiency" name="skill_proficiency" data-slider-handle="custom" type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
	 			  </div>
	 		    
	 		    </div>

			    <div class="control-group">
		      <!-- Text input-->
			      <label class="control-label" for="input01">Description</label>
			      <div class="textarea">
					<textarea id="_skill_description" name = "skill_description" type="" placeholder="skill description" class="form-control" /></textarea>
				  </div>
			    </div>


			     <div class="control-group">
			          <label class="control-label"> </label>
			          <!-- Button -->
			          <div class="controls">
			            <button class="btn btn-success">+</button>
			          </div>
			          <p class="help-block"></p>
			     </div>
			 </div>
			</div>
			
		 </fieldset>
		 </form>
		</div>
	</div>
</div>
<br/><br/><br/>
{% endblock %}


{% block js %}

{% load static %}
<script src="{% static "bootstrap/js/bootstrap-slider.min.js" %}"></script>

<script type='text/javascript'>
    	$(document).ready(function() {
	        $("#proficiency").slider({
	tooltip: 'always'
});
	    })
</script>
{% endblock %}
