<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
  {% load static %}  
  <script src="{% static "js/jquery.min.js" %}" ></script>
  {% load static %}
  <script src="{% static "js/register.js" %}"></script>
</head>
<body >
<div class="col-md-6 text-info">
      <h1>Welcome to ILink Platform <small>version 1.0</small></h1>
      <h4>  &nbsp&nbsp&nbsp&nbsp a ingenious platform for those who have incredible ideas or skills</h4>
      <p align="center"><a class="btn btn-primary btn-lg" role="button">
         Sign Up</a>
      </p>
   </div>
<!-- Interactive Login - START -->
<div class="container-fluid col-md-6" >
    <div class="row">
        <div class="loginpanel">
      <i id="loading" class="hidden fa fa-spinner fa-spin bigicon"></i>
            <h2>
        <span class="fa fa-quote-left "></span> pls Sign In <span class="fa fa-quote-right "></span>
      </h2>
            <div>
            	<form method="post" action="{% url 'accounts:login' %}">
				{% csrf_token %}
                 <input id="_account_name" type="email" placeholder="Email Address" onkeypress="check_value();" name="account_name" autofocus="autofocus">
				<input id="_account_password" type="text" placeholder="Password " onkeypress="check_value();" name="account_password">

        <div class="buttonwrapper">
          <button id="loginbtn" class="btn btn-warning loginbutton">
            <span class="fa fa-check"></span>
          </button>
          <span id="lockbtn" class="fa fa-lock lockbutton redborder"></span>
        </div>
            </div>
        </div>
    </div>
  
</div>


</body>
</html>
