<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<title>IdeaLink</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link type="image/x-icon" rel="shortcut icon" href="/static/img/favicon.ico" />
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/css/projects/avgrund.css">
	 <link rel="stylesheet" href="/static/css/sweetalert.css" />
    {% load static %}  
    <script src="{% static "js/jquery.min.js" %}" ></script>
    {% load static %}
    <script src="{% static "js/sweetalert.min.js" %}"></script>

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" style="height:100px;" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button>
				{% if is_login_success %}
				<a class="navbar-brand" style="margin-top:-1px;" href={% url 'accounts:home'%} ><img src="/static/img/logo.png"></a>
				{% else %}
				<a class="navbar-brand" style="margin-top:-1px;" href={% url 'accounts:index' %} ><img src="/static/img/logo.png"></a>
				{% endif %}
			</div>
			{% if is_login_success %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active" ><a href="{% url 'accounts:home' %}">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a id="find-proj" href="#">Find Project</a></li>
							<li><a id="create-proj" href="#">Create Project</a></li>
							<li class="active"><a href={% url 'projects:myProjects' %}>My Projects</a></li>
						</ul>
					</li>
					<li><a id="setting" href={% url 'accounts:settingProfile' %}>Setting</a></li>
					<li><a href={% url 'accounts:showResume' %}>{{ user_session.account_name}}</a></li>	
					<li><a class="btn" href={% url 'accounts:logout' %}>LOG OUT</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			{% else %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a class="btn" href="{% url 'accounts:login'%}">SIGN IN / SIGN UP</a></li> 
				</ul>
			</div><!--/.nav-collapse -->
			{% endif %}
		</div>
	</div> 
	
	<!-- /.navbar -->
	
	{% block content %}
	<div id="large-header" class="large-header demo-3">
		<canvas id="demo-canvas"></canvas>
		<h1 class="main-title"> <!-- spark brilliant --> ideas</span></h1>
	</div>
	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">The best place to link your idea and power together.</h2>
		<p class="text-muted">
			You got an brilliant idea but don't know how to?
			You got strong energy but don't konw where to?<br>
			NO PROBLEM! It's why you are here.
		</p>
	</div>
	<!-- /Intro-->
	{% load static %}  
  	<script src="{% static "js/home/home.js" %}" ></script>
	{% endblock %}

	{% block footer %}
	<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">				
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav" stlye="">
								{% if is_login_success %}
								<a href={% url 'accounts:home' %} >Home</a> | 
								<a href="#">Project</a> |
								<a id="setting" href={% url 'accounts:settingProfile' %} >Setting</a> 
								|
								<a id="logout" href={% url 'accounts:logout' %} >Logout</a> 
								{% else %}
								<b><a href={% url 'accounts:register'%}>Sign up</a></b>
								{% endif %}
								| 
								<a href="javascript:scroll(0,0)">
								<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
								</a>
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
	{% endblock %}

<!-- create proj -->
	<div style="display: none;">

		<form class="form-horizontal" id="create-proj-form" action={% url 'projects:projectQuickCreate' %} method="POST" style="text-align:center;">
	
		{% csrf_token %}
	 	 <fieldset>
    		<div class="control-group">

	      <!-- Text input-->
		      <label class="control-label" for="input01">Project Name</label>
		      <div class="controls">
		        <input type="text" name = "proj-name" placeholder="project name" class="input-xlarge form-control">
		        <p class="help-block"> </p>
		      </div>
		    </div>

			 <div class="control-group">
		      <!-- Textarea -->
		      <label class="control-label">Description</label>
		      <div class="controls">
		        <div class="textarea">
		              <input name = "description" type="text"  class="form-control"> </input>
		        </div>
		        <p class="help-block"></p>
		      </div>
		    </div>

		     <div class="control-group">
		          <label class="control-label"> </label>
		          <!-- Button -->
		          <div class="controls">
		            <button class="btn btn-success">+</button>
		          </div>
		          <p class="help-block"></p>
		     </div>
		 </div>
		</div>
	 </fieldset>
	 </form>
	</div>
	
<!-- find proj -->
	<div style="display: none;">
	 <form class="form-horizontal" id="find-proj-form" action={% url 'projects:findProject' %} method="POST" style="text-align:center;">
		{% csrf_token %}
	 	 <fieldset>
    		<div class="control-group">
	      <!-- Text input-->
		      <label class="control-label" for="input01">Project Name</label>
		      <div class="controls">
		        <input type="text" name = "search_key" id="search_key" placeholder="Search Key" class="input-xlarge form-control">
		        <p class="help-block"> </p>
		      </div>
		    </div>

		     <div class="control-group">
		          <label class="control-label"> </label>
		          <!-- Button -->
		          <div class="controls">
		            <button type="submit" class="btn btn-success">Search</button>
		          </div>
		          <p class="help-block"></p>
		     </div>
	 	</fieldset>
	 </form>
	</div>
	<!-- to top -->
	<a href="#" onclick="gotoTop();return false;" class="totop"></a>
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  	{% load static %}  
  	<script src="{% static "bootstrap/js/bootstrap.min.js" %}" ></script>
  	{% load static %}  
  	<script src="{% static "js/home/headroom.min.js" %}" ></script>
  	{% load static %}  
  	<script src="{% static "js/home/jQuery.headroom.min.js" %}" ></script>
	{% load static %}  
  	<script src="{% static "js/home/template.js" %}" ></script>

  	{% load static %}
  	<script src="{% static "js/bg/TweenLite.min.js" %}"></script>
  	{% load static %}
  	<script src="{% static "js/bg/EasePack.min.js" %}"></script>
  	{% load static %}
 	<script src="{% static "js/bg/rAF.js" %}"></script>

 	{% load static %}
 	<script src="{% static "js/projects/jquery.avgrund.js" %}"></script>
  	{% block js %}
  	{% endblock %}
  	
	
</body>
</html>