{% extends 'home.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/projects/buttons.css">
    <link href="/static/css/projects/style.css" rel="stylesheet">
    <link href="/static/css/projects/project.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/projects/jquery-ui.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>

<div id="large-header" class="container" >
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="" style="height:10px;" ></div>

        </div>
    <div class="row clearfix">
        <div class="col-md-2 column" align="left">
            <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
                <button class="button button-primary button-normal">
                    <i class="fa fa-bars"></i>Projects
                </button>
                <ul class="button-dropdown-list is-below">
                    <li class="button-dropdown-divider">
                        <a href="#"><i class="fa fa-heart-o"></i>Project1</a>
                    </li>
                    <li class="button-dropdown-divider">
                        <a href="#"><i class="fa fa-heart-o"></i>Project2</a>
                    </li>
                </ul>
            </span>
        </div>

        <div class="col-md-offset-8 col-md-2 column" align="right">

            <a id="modal-1" href="#modal-team-member" role="button" data-toggle="modal">
                <i class="fa fa-2x fa-users"></i>
                <strong class="text-info">Member</strong>
            </a> 

            <a id="modal-1" href="#modal-container-1" role="button" data-toggle="modal">
                <i class="fa fa-2x fa-cog fa-spin"></i>
                <strong class="text-info">Setting</strong>
            </a> 

            <!--弹出框-->
            <div class="modal fade" id="modal-team-member" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="tabbable" id="tabs-299950">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#information" data-toggle="tab">Team Members</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="information">
                                        <div align="left">
                                        <h4 >Members 1/6</h4></div>

                                        <table class="table table-hover ">
                                            <caption></caption>
                                       <tbody>
                                          <tr>
                                             <td>
                                                <a href="#">
                                                     <i class="fa fa-user"></i> <a href="#">Herman
                                                 </a>
                                             </td>
                                             <td style="text-align:center;">
                                                <a href="#">
                                                     <i class="fa  fa-remove"></i>
                                                </a>
                                            </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                         <div align="left">
                                            <h4 >Add Member</h4>
                                        </div>
                                        <input name="key" type="text" id="describe" value="e-mail" style="height:40px;width:550px"
                                                   onmouseover=this.focus();this.select();
                                                   onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                                   onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />

                                            <div align="center">
                                                 <a href="#">
                                                    <span class="fa-stack fa-lg fa-2x">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                 </a>
                                             </div>

                                        </div>

                                </div>
                            </div>

                            <script>
                                $(function () {
                                    $('#myTab li:eq(1) a').tab('show');
                                });
                            </script>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--弹出框-->

            <!--弹出框-->
            <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="tabbable" id="tabs-299950">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#information" data-toggle="tab">Project Info</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="information">
                                        <div align="left">
                                        <h4 >Project Name</h4></div>
                                        <input name="key" type="text" id="name" value="项目1" style="height:40px;width:550px"
                                               onmouseover=this.focus();this.select();
                                               onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />
                                        <div align="left">
                                            <h4 >Details</h4></div>
                                        <input name="key" type="text" id="describe" value="请简要描述" style="height:120px;width:550px"
                                               onmouseover=this.focus();this.select();
                                               onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />
                                    </div>
                                </div>
                            </div>

                            <script>
                                $(function () {
                                    $('#myTab li:eq(1) a').tab('show');
                                });
                            </script>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--弹出框-->

        </div>
    </div>


    <div class="row ">
        <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->
        <div class="col-md-4 column" >
            <div class="scrum-stage toggler-parent reached-top">
                <header class="scrum-stage-header ui-sortable-handle">
                    <div class="stage-name col-md-10">
                        Pending
                    </div>
                </header>
                <ul  id="sortable1" class="droptrue">
                    <li class="li_style" id="1-1">
                        <div class="panel panel-default " style="margin-right:10px">
                            <div class="panel-body-task" >
                                <div class="checkbox c-checkbox col-md-8">

                                    <label >
                                        <input type="checkbox" onclick="checkboxOnclick(this)" value="">
                                        <span class="fa fa-check"></span>
                                        <a id="modal-2" href="#modal-task" role="button" class="btn_p" data-toggle="modal">Task 1</a>
                                    </label>
                                    <!--弹出框-->
                                    <div class="modal fade" id="modal-task" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="myModalLabel1">
                                                        Task Name
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    Task Detail
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--弹出框-->
                                </div>
                                <div class="">
                                    <a href="#" class="btn" align="right"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>

                <a id="modal-12" href="#modal-task-new" role="button" class="btn" data-toggle="modal">+ New Task</a>
                <div class="modal fade" id="modal-task-new" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">

                                <div class="tabbable" id="tabs-12">

                                    <div class="tab-content">
                                        <div id="accordion12" class="panel-group">
                                            <div class="panel panel-default">
                                                <!-- <div class="panel-heading">
                                                    <h4 class="panel-title"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapseOne12">New Task</a>
                                                    </h4>
                                                </div> -->
                                                <div  aria-expanded="false" id="collapseOne12" class="">
                                                    <div class="panel-body">
                                                        <div class="tab-pane active" id="information12">
                                                            <h4>Task Name</h4>
                                                            <input name="key" type="text" id="name12" value="Task" style="height:40px;width:550px"
                                                                   onmouseover=this.focus();this.select();
                                                                   onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                                                   onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />
                                                            <h4>Task Detail</h4>
                                                            <input name="key" type="text" id="describe12" value="Description" style="height:120px;width:550px"
                                                                   onmouseover=this.focus();this.select();
                                                                   onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                                                   onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(function () {
                                        $('#myTab li:eq(1) a').tab('show');
                                    });
                                </script>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-4 column">
            <div  class="scrum-stage toggler-parent reached-top">
                <header class="scrum-stage-header ui-sortable-handle">
                    <div class="stage-name">
                        Underway
                    </div>
                    <a class="stage-menu-toggler icon icon-clock2 hinted" data-title="添加或编辑任务阶段" data-gta="{action: 'toggle stage menu'}">
                    </a>
                </header>
                <ul id="sortable2" class="droptrue">
                    <li class="li_style" id="2-1">
                        <div class="panel panel-default " style="margin-right:10px">
                            <div class="panel-body-task" >
                                <div class="checkbox c-checkbox col-md-8">
                                    <label >
                                        <input type="checkbox" onclick="checkboxOnclick(this)" value="">     <span class="fa fa-check"></span>
                                        <a id="modal-4" href="#modal-task" role="button" class="btn_p" data-toggle="modal">Task 2</a>
                                    </label>

                                    <!--弹出框-->
                                    <div class="modal fade" id="modal-task" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="myModalLabel1">
                                                        Task Name
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    Task Detail
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--弹出框-->

                                </div>
                                <div class="">
                                    <a href="#" class="btn" align="right"><i class="fa fa-usertimes"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a id="modal-21" href="#modal-task-new2" role="button" class="btn" data-toggle="modal">+ New Task</a>
                <div class="modal fade" id="modal-task-new2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">

                                <div class="tabbable" id="tabs-12">

                                    <div class="tab-content">
                                        <div id="accordion12" class="panel-group">
                                            <div class="panel panel-default">
                                                <!-- <div class="panel-heading">
                                                    <h4 class="panel-title"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapseOne12">New Task</a>
                                                    </h4>
                                                </div> -->
                                                <div  aria-expanded="false" id="collapseOne12" class="">
                                                    <div class="panel-body">
                                                        <div class="tab-pane active" id="information12">
                                                            <h4>Task Name</h4>
                                                            <input name="key" type="text" id="name12" value="Task" style="height:40px;width:550px"
                                                                   onmouseover=this.focus();this.select();
                                                                   onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                                                   onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />
                                                            <h4>Task Detail</h4>
                                                            <input name="key" type="text" id="describe12" value="Description" style="height:120px;width:550px"
                                                                   onmouseover=this.focus();this.select();
                                                                   onclick="if(value==defaultValue){value='';this.style.color='#000'}"
                                                                   onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(function () {
                                        $('#myTab li:eq(1) a').tab('show');
                                    });
                                </script>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 column">
            <div  class="scrum-stage toggler-parent reached-top">
                <header class="scrum-stage-header ui-sortable-handle">
                    <div class="stage-name">
                        Finished
                    </div>
                    <a class="stage-menu-toggler icon icon-clock2 hinted" data-title="添加或编辑任务阶段" data-gta="{action: 'toggle stage menu'}">

                    </a>
                </header>
                <ul  id="sortable3" class="droptrue">
                    <li class="li_style" id="3-1">
                        <div class="panel panel-default " style="margin-right:10px">
                            <div class="panel-body-task" >

                                <div class="checkbox c-checkbox col-md-8">
                                    <label >
                                        <input type="checkbox"  value="">
                                        <span class="fa fa-check"></span>
                                        <a id="modal-6" href="#modal-task" role="button" class="btn_p" data-toggle="modal">Task 3</a>
                                    </label>
                                   <!--弹出框-->
                                    <div class="modal fade" id="modal-task" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="myModalLabel1">
                                                        Task Name
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    Task Detail
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--弹出框-->
                                </div>

                                <div class="">
                                    <a href="#" class="btn" align="right"><i class="fa fa-times"></i></a>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block footer %}
    <footer id="footer" class="top-space">
      <nav class="navbar-default navbar-fixed-bottom">
        <div class="footer2">
            <div class="container">
                <div class="row">               
                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav" stlye="">
                                {% if is_login_success %}
                                <a href={% url 'accounts:home' %} >Home</a> | 
                                <a href="#">Project</a> |
                                <a id="setting" href={% url 'accounts:settingProfile' %} >Setting</a> 
                                |
                                <a id="logout" href={% url 'accounts:logout' %} >Logout</a> 
                                {% else %}
                                <b><a href={% url 'accounts:register'%}>Sign up</a></b>
                                {% endif %}
                                | 
                                <a href="javascript:scroll(0,0)">
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div> <!-- /row of widgets -->
            </div>
        </div>
     </nav>
    </footer>   
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static "bootstrap/js/bootstrap-datetimepicker.js" %}"></script>
    {% load static %}
    <script src="{% static "js/projects/jquery-ui.min.js" %}"></script>
    {% load static %}  
    <script src="{% static "js/projects/buttons.js" %}"></script>
    {% load static %}
    <script src="{% static "js/projects/project.js" %}"></script>
    {% load static %}
    <script src="{% static "js/projects/icheck.js" %}"></script>
    {% load static %}
    <script src="{% static "js/projects/jquery.icheck.js" %}"></script>
  
{% endblock %}